p{    color:green;
}
#password, #login{
/*#purple, #darkBlue,#blue,#green,#yellow,#orange,#red*/

    color:#ffffff;
}

#login{
    background: #009900;
}

#password{
    background: #000099;
}
.box{
    display: flex;
    align-items: center;
    ustify-content: center;
    flex-direction: column;
}


/*#red{*/
/*    background: red;*/
/*    color: #8a1616;*/
/*}*/
/*#orange{*/
/*    background: orange;*/
/*    color: #ee660b;*/
/*}*/
/*#yellow{*/
/*    background: #ffdf00;*/
/*    color: #ff8415;*/
/*}*/
/*#green{*/
/*    background: forestgreen;*/
/*   color: #41e341;*/
/*}*/
/*#blue{*/
/*    background:cornflowerblue;*/
/*    color: #0d2f9f;*/
/*}*/
/*#darkBlue{*/
/*    background: darkblue;*/
/*    color: dodgerblue;*/
/*}*/
/*#purple{*/
/*    background:purple;*/
/*    color: #e676ff;*/
/*}*/

