body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

input {
    display: block;
    width: 200px;
    margin: 15px auto;
    padding: 10px 7px;
    border: 1px solid grey;
    border-radius: 5px;
}

.red {
    background-color: #ff7272;
}
.orange {
    background-color: #ffa372;
}
.yellow {
    background-color: #ffec72;
}
.green {
    background-color: #72ff85;
}
.blue {
    background-color: #72fffa;
}
.darkBlue {
    background-color: #72bdff;
}
.violet {
    background-color: #a872ff;
}